image: python:2.7.12

lint:
  script:
    - flake8 .
test:
  script:
    - pip install -r requirements.txt
    - export DJANGO_SETTINGS_MODULE=dtlweb.settings.test && python manage.py test main.tests
