<p>Hi {{ application.name }},</p>

<p>Thank you for your interest in our full-time researcher openings.</p>

<p>If you are a student graduating from now to 31st Dec 2021, we would like to strongly recommend you to take our {{ campaign.name }} which is scheduled from <strong>0900 to 1200, Sunday, 18th October, 2020, Singapore Time (GMT+8)</strong>.</p>

<p>This test will require you to attend a zoom meeting and open your webcam. The zoom link will be shared nearer to the test date.</p>

<p>If you can attend the above test, please kindly click <a href="{{ accept_url }}">here</a>.</p>

<p>&nbsp;</p>

<p>If you are not graduating during the above-mentioned period or you cannot attend the test on that day, you may proceed with scheduling a test at your own convenience by clicking <a href="{{ refuse_url }}">here</a>.</p>

<p>If you have any questions, please send us an email at careers@dytechlab.com.</p>

<p>&nbsp;</p>

<p>Thanks,</p>

<p>Dynamic Technology Lab</p>