<p>Hi {{ application.name }},</p>

<p>&nbsp;</p>

<p>Congratulations! You have passed our resume selection and your registration in our {{ campaign.name }} is complete.</p>

<p>The test will be held from <strong>0900 to 1200, 18th October 2020, Singapore Time (GMT+8)</strong>.</p>

<p>We will send you the login credentials for our test website two days before the test.</p>

<p>&nbsp;</p>
<p>If you have any questions, please send us an email at careers@dytechlab.com.</p>

<p>&nbsp;</p>

<p>Thanks,</p>

<p>Dynamic Technology Lab</p>
