{% extends 'main/base.html' %}
{% load static %}
{% block body-content %}
<section data-on="false" data-lg-on="true" class="rd-parallax bg-river-bed">
  <div data-speed="0.65" data-type="media" data-url="{% static 'main/img/bg-image-2.jpg' %}" class="rd-parallax-layer"></div>
  <div data-speed="0" data-type="html" class="rd-parallax-layer">
    <div class="shell text-center">
      <div class="range">
        <div class="cell-xs-12">
          <div class="section-45 section-sm-top-60 section-sm-bottom-68">
            <h2>Careers</h2>
            <hr class="hr-block hr-white"/>
            <p class="overview-text">
              Dynamic Technology Lab Pte. Ltd. (DTL) aims to attract the best and brightest, and to train them to be the best in the industry. We are looking for smart, creative and detail-oriented individuals, with intellectual curiosity and enthusiasm, to explore principles behind financial markets.</p>
            </p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-bottom border-bottom-gray-lighter">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12">
        <ul class="breadcrumbs-custom">
          <li><a href="{% url 'main.index' %}">Home</a></li>
          <li><a href="{% url 'chinaevent.career_talk' %}">{{ year }}中国招聘</a></li>
          <li class="active">校园宣讲会</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-top-55 section-bottom-60">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12 cell-md-8 cell-lg-9">
        <div class="range">
          <div class="cell-xs-12">
            <h3>China Recruiting {{ year }}</h3>
          </div>
          <br/><br/><br/>
          <div class="cell-xs-12 cell-md-8 cell-lg-9">
            <h3>校园宣讲会</h3>
            <div class="table-mobile">
              <table class="table table-curious-blue table-bordered">
                <thead>
                  <tr>
                    <th width="30%">学校</th>
                    <th width="30%">地点</th>
                    <th width="30%">时间</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in talks %}
                  <tr>
                    <td>{{ item.university }}</td>
                    <!-- <td><a href="#{{ item.mapid }}">{{ item.location }}</a></td> -->
                    <td>{{ item.location }}</td>
                    <td>{{ item.time }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="cell-xs-12 cell-md-4 cell-lg-3 offset-top-60 offset-md-top-0">
            <div class="inset-md-left-15 inset-md-right-15">
              <div class="range">
                <div class="cell-xs-12 cell-sm-6 cell-md-12 child-offset-41">
                  <nav class="page-nav">
                    <ul class="page-nav-list">
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>

          {% include 'chinaevent/online_apply.html' with form=form multipart=True success_apply=success_apply %}
        </div>
      </div>
      {% include 'main/_right_sidebar.html' with menu_items=sidebar_menu_items active=4 %}
    </div>
  </div>
</section>


{% comment %}
<section class="section-bottom-60">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12 cell-md-8 cell-lg-9">
        <h3>地图</h3>
        {% for item in talks %}
        <span class="anchor-link" id="{{item.mapid}}"></span>
        <div class="section-25">
            <h4>{{item.university}}, {{item.location}}</h4>
            <div class="map" style="border: 1px solid; width: 100%; height: 400px;" id="map_{{item.mapid}}">
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endcomment %}

{% endblock body-content %}
{% comment %}
{% block js-extras %}
<script type="text/javascript">
function initialize() {
    var mapPositions = [
        {'id': 'map_loc1', 'position': [116.317304,39.994928]},
        {'id': 'map_loc2', 'position': [116.338753,40.002437]},
        {'id': 'map_loc3', 'position': [121.511814,31.305661]},
        {'id': 'map_loc4', 'position': [121.434525,31.028602]}
    ];
    var maps = [];
    var markers = [];
    var centers = [];
    var href = location.href;

    for (var i = 0; i < mapPositions.length; i++) {
        maps[i] = new BMap.Map(mapPositions[i].id);
        // a hack to deal with maps within tabs
        if (href.indexOf('#written_test') != -1 && i < 3) {
            centers[i] = new BMap.Point(mapPositions[i].position[0] - 0.0027, mapPositions[i].position[1] + 0.0012);
        } else if (href.indexOf('#written_test') == -1 && i == 3) {
            centers[i] = new BMap.Point(mapPositions[i].position[0], mapPositions[i].position[1]);
        } else {
            centers[i] = new BMap.Point(mapPositions[i].position[0], mapPositions[i].position[1]);
        }
        markers[i] = new BMap.Point(mapPositions[i].position[0], mapPositions[i].position[1]);
        maps[i].centerAndZoom(centers[i], 18);
        maps[i].addOverlay(new BMap.Marker(markers[i]));
        maps[i].addControl(new BMap.NavigationControl());
        maps[i].addControl(new BMap.ScaleControl());
    }
}

function loadScript() {
    var script = document.createElement("script");
    script.src = "http://api.map.baidu.com/api?v=2.0&ak={{ api_key }}&callback=initialize";
    document.body.appendChild(script);

    // this hack to avoid Navbar hides initial content when jumping to in-page anchor
    var shiftWindow = function() { scrollBy(-120, 0) };
        if (location.hash) shiftWindow();
        window.addEventListener("hashchange", shiftWindow);
    }

window.onload = loadScript;
</script>
{% endblock js-extras %}
{% endcomment %}
