<div class="cell-xs-12 cell-md-12 cell-lg-12">
  <div class="range">
    <div class="cell-xs-12">
      <h3>投递简历</h3>
      <div class="row margin-vert-30">
        <div class="col-md-8">
          <p class="help-block"><b>*为必填项</b></p>
          <div>
            {% if success_apply %}
            <p><strong><font color='green'>感谢你对我们公司的关注！我们将发送一封确认邮件至你的邮箱。</font></strong></p>
            <p><strong><font color='green'>如果你没有收到的话，请检查垃圾邮箱。</font></strong></p>
            {% endif %}
          </div>
          {% include 'main/snippet_form.html' with form=form multipart=True lang='cn' %}
        </div>
      </div>
    </div>
  </div>
</div>