{% extends 'main/base.html' %}
{% load static %}
{% block body-content %}
<section data-on="false" data-lg-on="true" class="rd-parallax bg-river-bed">
  <div data-speed="0.65" data-type="media" data-url="{% static 'main/img/bg-image-2.jpg' %}" class="rd-parallax-layer"></div>
  <div data-speed="0" data-type="html" class="rd-parallax-layer">
    <div class="shell text-center">
      <div class="range">
        <div class="cell-xs-12">
          <div class="section-45 section-sm-top-60 section-sm-bottom-68">
            <h2>Careers</h2>
            <hr class="hr-block hr-white"/>
            <p class="overview-text">
              Dynamic Technology Lab Pte. Ltd. (DTL) aims to attract the best and brightest, and to train them to be the best in the industry. We are looking for smart, creative and detail-oriented individuals, with intellectual curiosity and enthusiasm, to explore principles behind financial markets.</p>
            </p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-bottom border-bottom-gray-lighter">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12">
        <ul class="breadcrumbs-custom">
          <li><a href="{% url 'main.index' %}">Home</a></li>
          <li><a href="#">中国招聘</a></li>
          <li class="active">现场笔试注册</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-top-55">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12 cell-md-8 cell-lg-9">
        <h3>{{ year }}DTL 中国校招</h3>
      </div>
    </div>
  </div>
</section>

<section class="section-top-55 section-bottom-40">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12 cell-md-8 cell-lg-9">
        <div>
          <p>感谢你对我们{{ year }}校招的关注，我们诚挚邀请你参加DTL {{ year }}年中国校园宣讲会。如果申请量化研究员/基本面量化研究员职位，我们强烈建议你参加我们的现场笔试。如果确实无法参加，也可点击下面的链接预约在线笔试</p>
          <br/>
          <font color="red">如果申请开发工程师职位，请直接预约在线笔试，无需参加现场笔试。</font>
          <p>
          <a href="{{ test_req_link }}" class="link link-inline header"><span style="font-size: 18px;"><b> 网上笔试预约请点这里</b></span></a>
          </p>
        </div>
        <h4>校园宣讲会</h4>
        <div class="table-mobile">
          <table class="table table-curious-blue table-bordered">
            <thead>
              <tr>
                <th width="30%">学校</th>
                <th width="30%">地点</th>
                <th width="30%">时间</th>
              </tr>
            </thead>
            <tbody>
            {% for item in career_talks %}
              <tr>
                <td>{{ item.university }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.time }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <h4>现场笔试</h4>
        <div class="table-mobile">
          <table class="table table-curious-blue table-bordered">
            <thead>
              <tr>
                <th width="30%">学校</th>
                <th width="30%">地点</th>
                <th width="30%">时间</th>
              </tr>
            </thead>
            <tbody>
            {% for item in tests %}
              <tr>
                <td>{{ item.university }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.time }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
          <span class="anchor-link" id="form"></span>
          <div>
            <p>请选择你想参加的笔试地点</p>
            {% if form %}
                <div class="cell-xs-12 offset-top-25">
                </div>
                <div class="row margin-vert-30">
                  <div class="col-md-8">
                    {% include 'main/snippet_form.html' with form=form multipart=True action="#form" lang='cn' %}
                  </div>
                </div>
            {% else %}
                <font color="red">{{ form_msg }}</font>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</section>

{% endblock body-content %}

{% block js-extras %}
<script type="text/javascript">
function initialize() {
    var mapPositions = [
        {'id': 'pku_test_map', 'position': [116.319908, 39.996540]},
        {'id': 'fdu_test_map', 'position': [121.60607, 31.197369]},
        {'id': 'sjtu_test_map', 'position': [121.434525,31.028602]},
    ];
    var maps = [];
    var markers = [];
    var centers = [];
    var href = location.href;

    for (var i = 0; i < mapPositions.length; i++) {
        maps[i] = new BMap.Map(mapPositions[i].id);
        // a hack to deal with maps within tabs
        if (href.indexOf('#written_test') != -1 && i < 3) {
            centers[i] = new BMap.Point(mapPositions[i].position[0] - 0.0027, mapPositions[i].position[1] + 0.0012);
        } else if (href.indexOf('#written_test') == -1 && i == 3) {
            centers[i] = new BMap.Point(mapPositions[i].position[0] - 0.0027, mapPositions[i].position[1] + 0.0012);
        } else {
            centers[i] = new BMap.Point(mapPositions[i].position[0], mapPositions[i].position[1]);
        }
        markers[i] = new BMap.Point(mapPositions[i].position[0], mapPositions[i].position[1]);
        maps[i].centerAndZoom(centers[i], 18);
        maps[i].addOverlay(new BMap.Marker(markers[i]));
        maps[i].addControl(new BMap.NavigationControl());
        maps[i].addControl(new BMap.ScaleControl());
    }
}

function loadScript() {
    var script = document.createElement("script");
    script.src = "http://api.map.baidu.com/api?v=2.0&ak={{ api_key }}&callback=initialize";
    document.body.appendChild(script);

    // this hack to avoid Navbar hides initial content when jumping to in-page anchor
    var shiftWindow = function() { scrollBy(-220, 0) };
        if (location.hash) shiftWindow();
        window.addEventListener("hashchange", shiftWindow);
    }

window.onload = loadScript;
</script>
{% endblock js-extras %}
