{% extends 'main/base.html' %}
{% load static %}
{% block body-content %}
<section data-on="false" data-lg-on="true" class="rd-parallax bg-river-bed">
  <div data-speed="0.65" data-type="media" data-url="{% static 'main/img/bg-image-2.jpg' %}" class="rd-parallax-layer"></div>
  <div data-speed="0" data-type="html" class="rd-parallax-layer">
    <div class="shell text-center">
      <div class="range">
        <div class="cell-xs-12">
          <div class="section-45 section-sm-top-60 section-sm-bottom-68">
            <h2>Careers</h2>
            <hr class="hr-block hr-white"/>
            <p style="margin: 20px 80px 0px 80px; font-size: 18px;">
              Dynamic Technology Lab Pte. Ltd. (DTL) aims to attract the best and brightest, and to train them to be the best in the industry. We are looking for smart, creative and detail-oriented individuals, with intellectual curiosity and enthusiasm, to explore principles behind financial markets.</p>
            </p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-bottom border-bottom-gray-lighter">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12">
        <ul class="breadcrumbs-custom">
          <li><a href="{% url 'main.index' %}">Home</a></li>
          <li><a href="{% url 'chinaevent.career_talk' %}">2018中国招聘</a></li>
          <li class="active">现场笔试</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-top-55 section-bottom-40">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12 cell-md-8 cell-lg-9">
        <h3>笔试地点</h3>
        {% for city, test in tests.items %}
        <h4>{{city}}</h4>
        <div class="table-mobile">
          <table class="table table-curious-blue table-bordered">
            <thead>
              <tr>
                <th width="20%">学校</th>
                <th width="40%">地点</th>
                <th width="40%">时间</th>
              </tr>
            </thead>
            <tbody>
            {% for item in test %}
              <tr>
                <td>{{ item.university }}</td>
                <td><a href="#{{ item.mapid }}">{{ item.location }}</a></td>
                <td>{{ item.time }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>

      <div class="cell-xs-12 cell-md-4 cell-lg-3 offset-top-60 offset-md-top-0">
        <div class="inset-md-left-15 inset-md-right-15">
          <div class="range">
            <div class="cell-xs-12 cell-sm-6 cell-md-12 child-offset-41">
              <nav class="page-nav">
                <ul class="page-nav-list">
                  <li><a href="{% url 'chinaevent.career_talk' %}">校园宣讲会</a></li>
                  <li class="active"><a href="{% url 'chinaevent.register' %}">现场笔试注册</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<span class="anchor-link" id="form"></span>
<section class="section-bottom-40">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12 cell-md-8 cell-lg-9">
        <div class="range">
          <div class="cell-xs-12">
            <h3>笔试注册</h3>
            {% block register-confirm %}
            {% endblock register-confirm %}

            {% if form %}
            <p>请选择合适的笔试地点，并填写下列信息以完成笔试注册。如有任何问题，请发邮件至: <a class="active" href="mailto:careers@dytechlab.com">careers@dytechlab.com</a></p>
            <div class="cell-xs-12 offset-top-25">
            </div>
            <div class="row margin-vert-30">
              <div class="col-md-8">
                <p class="help-block">(*)为必填项</p>
                {% include 'main/snippet_form.html' with form=form multipart=True action="#form" %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-bottom-60">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12 cell-md-8 cell-lg-9">
        <h3>地图</h3>

        <span class="anchor-link" id="loc1"></span>
        <div class="section-25">
            <h4>北京大学，理科一号楼1114</h4>
            <div class="map" style="border: 1px solid; width: 100%; height: 400px;" id="pku_test_map">
                <!--116.363116,39.966326-->
            </div>
        </div>

        <span class="anchor-link" id="loc2"></span>
        <div class="section-25">
            <h4>复旦大学，张江校区软件楼102第二会议室</h4>
            <div class="map" style="border: 1px solid; width: 100%; height: 400px;" id="fdu_test_map">
                <!--39.996826, 116.332154-->
            </div>
        </div>

        <span class="anchor-link" id="loc3"></span>
        <div class="section-25">
            <h4>上海交通大学，闵行校区数学楼一楼大会议室</h4>
            <div class="map" style="border: 1px solid; width: 100%; height: 400px;" id="sjtu_test_map">
                <!--116.317169,39.994895-->
            </div>
        </div>
    </div>
  </div>
</section>

{% endblock body-content %}

{% block js-extras %}
<script type="text/javascript">
function initialize() {
    var mapPositions = [
        {'id': 'pku_test_map', 'position': [116.319908, 39.996540]},
        {'id': 'fdu_test_map', 'position': [121.60607, 31.197369]},
        {'id': 'sjtu_test_map', 'position': [121.434525,31.028602]},
    ];
    var maps = [];
    var markers = [];
    var centers = [];
    var href = location.href;

    for (var i = 0; i < mapPositions.length; i++) {
        maps[i] = new BMap.Map(mapPositions[i].id);
        // a hack to deal with maps within tabs
        if (href.indexOf('#written_test') != -1 && i < 3) {
            centers[i] = new BMap.Point(mapPositions[i].position[0] - 0.0027, mapPositions[i].position[1] + 0.0012);
        } else if (href.indexOf('#written_test') == -1 && i == 3) {
            centers[i] = new BMap.Point(mapPositions[i].position[0] - 0.0027, mapPositions[i].position[1] + 0.0012);
        } else {
            centers[i] = new BMap.Point(mapPositions[i].position[0], mapPositions[i].position[1]);
        }
        markers[i] = new BMap.Point(mapPositions[i].position[0], mapPositions[i].position[1]);
        maps[i].centerAndZoom(centers[i], 18);
        maps[i].addOverlay(new BMap.Marker(markers[i]));
        maps[i].addControl(new BMap.NavigationControl());
        maps[i].addControl(new BMap.ScaleControl());
    }
}

function loadScript() {
    var script = document.createElement("script");
    script.src = "http://api.map.baidu.com/api?v=2.0&ak={{ api_key }}&callback=initialize";
    document.body.appendChild(script);

    // this hack to avoid Navbar hides initial content when jumping to in-page anchor
    var shiftWindow = function() { scrollBy(-220, 0) };
        if (location.hash) shiftWindow();
        window.addEventListener("hashchange", shiftWindow);
    }

window.onload = loadScript;
</script>
{% endblock js-extras %}
