<p>Congratulations! You have successfully registered for the Joint Test. Please see your login details for the Joint Test portal as below:</p>

<p>Joint Test Portal: <a href='{{ host }}'>{{ host }}</a></p>
<p>Username: {{ username }}</p>
<p>Password: {{ password }}</p>

<p>Time</p>
<p>Date: <b>Sunday, 17th October 2021, Singapore Time</b></p>
<p>Start Time: <b>{{ starttime }}</b></p>
<p>Duration: <b>{{ duration }}</b></p>

<p>Pen and paper is required for the test. You may upload your solutions on the portal. You are also required to attend the zoom meeting and open your webcam.</p>

<p>Zoom registration link:</p>
<p><a href="https://us02web.zoom.us/meeting/register/tZwsdOCsrzMrGNCJjtFETI2f8Snlp-KqRsHj">https://us02web.zoom.us/meeting/register/tZwsdOCsrzMrGNCJjtFETI2f8Snlp-KqRsHj</a></p>

<p>If you have any questions please inform careers@dytechlab.com or add our wechat DTL_HR.</p>

<p>See you on that day and good luck!</p>

<p>Best,</p>
<p>DTL</p>
