<table>
  <tbody>
    <tr>
      <td>New application for</td>
      <td>{{ application.get_position_display }} </td>
    </tr>
    <tr>
      <td>Type - Location</td>
      <td>{{ application.get_type_display }} - {{ application.get_workplace_display }}</td>
    </tr>
    <tr>
      </td>Need work pass</td>
      <td>{{ application.need_work_pass }}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{ application.name }}</td>
    </tr>
    <tr>
      <td>University</td>
      <td>{{ application.university }}</td>
    </tr>
  </tbody>
</table>

Resume attached!
This is automated email from dtl-website.
