<p>Hi {{applicant.name}}, </p>

<br>

<p>
    Congratulations! You have successfully registered for DTL Equity Research Challenge 2022. Thanks for your interest in our company and our competition.
<br> 
    Please take note that the competition Round 1 questions and instructions will be released on 1 March 2022 at 0800 (GMT+8). They will be sent to you via email. 
    Lastly, please whitelist our email: careers@dytechlab.com so that you are able to receive our emails in your inbox.
</p>
<br>

<p>Thanks,</p>

<p>Dynamic Technology Lab</p>