{% load static %}
<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
  <head>
    <!-- Site Title-->
    <title>Dynamic Technology Lab</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,300italic">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {% block head-extras %}
    {% endblock head-extras %}
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="page-head">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-lg-stick-up-clone="true" data-md-stick-up-offset="80px" data-lg-stick-up-offset="80px" class="rd-navbar rd-navbar-light">
            <div class="rd-navbar-inner">
              <div class="rd-navbar-inner-body">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                  <!-- RD Navbar Brand--><a href="{% url 'main.index' %}" class="rd-navbar-brand"><img src="{% static 'main/img/dtl_logo.png' %}" style="max-height: 70px;"/></a>
                </div>
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="{% url 'main.index' %}">Home</a>
                    </li>
                    <li><a href="{% url 'main.what' %}">About Us</a>
                    </li>
                    <li><a href="{% url 'main.culture.overview' %}">Culture</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="{% url 'main.culture.overview' %}">Overview</a></li>
                        <li><a href="{% url 'main.culture.atwork' %}">At work</a></li>
                        <li><a href="{% url 'main.culture.offwork' %}">Off work</a></li>
                      </ul>
                    </li>
                    <li><a href="{% url 'main.career.overview' %}">Careers</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="{% url 'main.career.overview' %}">Overview</a></li>
                        <li><a href="{% url 'main.career.jobs' %}">Opening jobs</a></li>
                        <li><a href="{% url 'main.career.apply' %}">Online application</a></li>
                      </ul>
                    </li>
                    <li><a href="{% url 'main.contact' %}">Contacts</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <!-- Swiper-->
        {% block body-content %}
        {% endblock body-content %}
      </main>
      <footer class="page-foot">
        <section class="section-45 section-sm-75 bg-river-bed">
          <div class="shell text-center text-sm-left">
            <div class="range range-xs-center">
              <div class="cell-xs-12 cell-sm-6 cell-lg-4">
                <h4>About us</h4>
                <hr class="hr-variant-1">
                <p>A quantitative trading firm engaged in equity<br> trading. We have significant presence in the<br> global market by trading over 500m USD <br>daily in the world's major exchanges.</p>
              </div>
              <div class="cell-xs-12 cell-sm-6 cell-lg-4 offset-top-45 offset-lg-top-0">
                <h4>Contact info</h4>
                <hr class="hr-variant-1">
                <address class="contact-info reveal-inline-block">
                  <ul class="contact-info-list">
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-envelope-o"></span></div>
                      <div class="unit-body"><span><a href="mailto:#">contact@dytechlab.com</a></span></div>
                    </li>
                    <li class="unit unit-horizontal unit-spacing-md">
                      <div class="unit-left"><span class="icon icon-sm icon-picton-blue fa-map-marker"></span></div>
                      <div class="unit-body"><span><a href="#"><span>#07-00, Haw Par Glass Tower,<br> 178 Clemenceau Avenue</span><span>Singapore 239926</span></a></span></div>
                    </li>
                  </ul>
                </address>
              </div>
              <div class="cell-xs-12 cell-sm-6 cell-lg-4 offset-top-45 offset-sm-top-0">
                <h4>Navigation</h4>
                <hr class="hr-variant-1">
                <nav class="footer-nav-wrap text-xs-left">
                  <div class="footer-nav-column">
                    <ul class="footer-nav">
                      <li><a href="{% url 'main.what'%}">About us</a></li>
                      <li><a href="{% url 'main.culture.overview' %}">Culture</a></li>
                    </ul>
                  </div>
                  <div class="footer-nav-column">
                    <ul class="footer-nav">
                      <li><a href="{% url 'main.career.overview' %}">Careers</a></li>
                      <li><a href="{% url 'main.contact' %}">Contacts</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <section class="section-14 bg-ebony-clay">
          <div class="shell text-center">
            <p class="rights">&#169;&nbsp;<span id="copyright-year"></span>&nbsp;DTL.<a href="privacy.html">Privacy policy</a>
              More Financial Advisor Website Templates at <a rel="nofollow" href="http://www.templatemonster.com/category/financial-advisor-website-templates/" target="_blank">TemplateMonster.com</a>
            </p>
          </div>
        </section>
      </footer>
    </div>
    <!-- Javascript-->
    <script src="{% static 'main/js/core.min.js' %}"></script>
    <script src="{% static 'main/js/script.js' %}"></script>

    {% block js-extras %}
    {% endblock js-extras %}
  </body>
</html>
