{% extends 'main/base.html' %}
{% block body-content %}
  <!-- <div class="row margin-vert-30"> -->
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="row margin-right-10">
        <!-- <h2 class="margin-top-10">Overview</h2> -->
        <p class="margin-bottom-30">Dynamic Technology Lab Pte. Ltd. (DTL) aims to attract the best and brightest, and to train them to be the "best" in the industry. We are looking for smart, creative and detail-oriented individuals, with intellectual curiosity and enthusiasm, to explore principles behind financial markets.</p>
        <a href={% url 'main.career.chinaevent' %} type="button" class="btn btn-info btn-block">2017 China Campus Recruiting</a>
      </div>
      </div>
      <div class="col-md-8">
        <!-- <hr class="margin-vert-40"> -->
        <h2 clas="headline">Why Choose Us?</h2>
        <div class="row margin-vert-30">
          {% for reason in why_dtl %}
          <div class="col-md-12">
            <h3 class="margin-vert-20 ">{{reason.desc}}</h3>
            <p>{{reason.content}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  <!-- </div> -->
{% endblock body-content %}
