{% extends 'main/base.html' %}
{% load static %}
{% block body-content %}
<section data-on="false" data-lg-on="true" class="rd-parallax bg-river-bed">
  <div data-speed="0.65" data-type="media" data-url="{% static 'main/img/bg-image-2.jpg' %}" class="rd-parallax-layer"></div>
  <div data-speed="0" data-type="html" class="rd-parallax-layer">
    <div class="shell text-center">
      <div class="range">
        <div class="cell-xs-12">
          <div class="section-45 section-sm-top-60 section-sm-bottom-68">
            <h2>Careers</h2>
            <hr class="hr-block hr-white"/>
            <p class="overview-text">
              Dynamic Technology Lab Pte. Ltd. (DTL) aims to attract the best and brightest, and to train them to be the best in the industry. We are looking for smart, creative and detail-oriented individuals, with intellectual curiosity and enthusiasm, to explore principles behind financial markets.</p>
            </p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-bottom border-bottom-gray-lighter">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12">
        <ul class="breadcrumbs-custom">
          <li><a href="{% url 'main.index' %}">Home</a></li>
          <li><a href="{% url 'main.career.overview' %}">Careers</a></li>
          <li class="active">Online Application</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section-top-55 section-bottom-60">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12 cell-md-8 cell-lg-9">
        <div class="range">
          <div class="cell-xs-12">
            <h3>Online Application</h3>
            <p>
              DTL 2020 校园招聘，请点击<a href="{% url 'chinaevent.career_talk' %}"><font color='#24a3d8'>这里</font></a>申请
            </p>
            <br>
            {% block apply-confirm %}
            {% endblock apply-confirm %}

            {% if form %}
            <div class="row margin-vert-30">
              <div class="col-md-8">
                <p class="help-block">Required fields indicated with (*)</p>
                {% include 'main/snippet_form.html' with form=form multipart=True %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% include 'main/_right_sidebar.html' with active=3 menu_items=sidebar_menu_items %}
    </div>
  </div>
</section>

{% endblock body-content %}
