{% extends 'main/base.html' %}
{% load static %}

{% block extra-css %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
{% endblock extra-css %}

{% block extra-js %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
</script>
{% endblock extra-js %}

{% block body-content %}
<div class="row">
  <div id="career-tabs">
    <span class="pull-right">
      <!-- Nav tabs -->
      <ul class="nav nav-pills culture" role="tablist">
        <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
        <li role="presentation"><a href="#job-opening" aria-controls="job-opening" role="tab" data-toggle="tab">Job Opening</a></li>
        <li role="presentation"><a href="#test-request" aria-controls="test-request" role="tab" data-toggle="tab">Online Test Request</a></li>
      </ul>
    </span>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="overview">
      <h3><b>Overview</b></h3>
      <p>Dynamic Technology Lab Pte. Ltd. (DTL) aims to attract the best and brightest, and to train them to be the "best" in the industry. We are looking for smart, creative and detail-oriented individuals, with intellectual curiosity and enthusiasm, to explore principles behind financial markets.</p>

      <h3><b>Why choose us?</b></h3>
      {% for reason in why_dtl %}
        <h4>{{reason.desc}}</h4>
        <p>{{reason.content}}</p>
      {% endfor %}
    </div>

    <div role="tabpanel" class="tab-pane" id="job-opening">
      {% include "main/career_job_opening.html" with positions=positions %}
    </div>

    <div role="tabpanel" class="tab-pane" id="test-request">
      {% include "main/career_request.html" with form=form %}
    </div>

  </div>
</div>
{% endblock body-content %}
