{% extends 'main/base.html' %}

{% block body-content %}

{% if confirm_msg %}
<p>{{ confirm_msg }}</p>
<a href="{% url 'main.index' %}">Back to home</a>
{% endif %}

{% if form %}
<div class="row margin-vert-30">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
      </div>
      <div class="panel-body">
        Kindly provide all information in the application form.
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h2 class="headline">Online Application</h2>
    {% include 'main/snippet_form.html' with form=form multipart=True %}
  </div>
</div>
{% endif %}
{% endblock body-content %}
