{% extends 'main/base.html' %}
{% load static %}
{% load main_extras %}

{% block body-content %}
<div class="container">

<h1>Overview</h1>
<p>Dynamic Technology Lab Pte. Ltd. (DTL) aims to attract the best and brightest, and to train them to be the "best" in the industry. We are looking for smart, creative and detail-oriented individuals, with intellectual curiosity and enthusiasm, to explore principles behind financial markets.</p>

<h1>Why choose us?</h1>
{% for reason in why_dtl %}
  <h4>{{reason.desc}}</h4>
  <p>{{reason.content}}</p>
{% endfor %}

<h1>Job Opening</h1>
{% for position in positions %}
  <h2>{{position.title}}</h2>
  <h3>Job description: </h3>
  {% for desc in position.desc %}
    {% if desc|is_string %}
      <h5>{{desc}}</h5>
    {% else %}
      <ul>
      {% for subdesc in desc %}
        <li>{{subdesc}}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
  <h3>Qualification: </h3>
  {% for qft in position.qualification %}
    {% if qft|is_string %}
      <h5>{{qft}}</h5>
    {% else %}
      <ul>
      {% for subqft in qft %}
        <li>{{subqft}}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endfor %}

</div>
{% endblock body-content %}
