{% extends 'main/base.html' %}

{% block body-content %}
<div class="row margin-vert-30">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
      </div>
      <div class="panel-body">
        Kindly provide all information in the application form.
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h2 class="headline">Online Application</h2>
    {% include 'main/snippet_form.html' with form=form %}
  </div>
</div>
{% endblock body-content %}
