{% extends 'main/base.html' %}

{% block body-content %}
<div class="row">
  <div class="col-md-2 col-md-offset-3">
    <script type="text/javascript" src="http://www.webestools.com/google_map_gen.js?lati=1.296788&long=103.844164&zoom=17&width=600&height=400&mapType=normal&map_btn_normal=yes&map_small=yes&info_bulle=Singapore%20Office"></script>
  </div>
</div>

<div class="row">
  <div style="text-align: center">
    <p>
      <strong>Singapore Office:</strong><br/>
      Email: <a href="mailto:careers@dytechlab.com">contact@dytechlab.com</a><br>
    <p>
    <p>Address:<br>Dynamic Technology Lab<br>
    #07-00, Haw Par Glass Tower, 178 Clemenceau Avenue<br>
    Singapore 239926</p>
  </div>
</div>

{% endblock body-content %}
