{% extends 'main/base.html' %}
{% load static %}
{% block body-content %}
<section data-on="false" data-lg-on="true" class="rd-parallax bg-river-bed">
  <div data-speed="0.65" data-type="media" data-url="{% static 'main/img/slideshow/slide4.jpg' %}" class="rd-parallax-layer"></div>
  <div data-speed="0" data-type="html" class="rd-parallax-layer">
    <div class="shell text-center">
      <div class="range">
        <div class="cell-xs-12">
          <div class="section-45 section-sm-top-60 section-sm-bottom-68">
            <h2>Contacts</h2>
            <hr class="hr-block hr-white"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <br><br>
  <div class="row">
    <div class="xcol-xs-12" style="height: 40vh;">
      <div id="our-map" style="height: 100%"></div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div style="text-align: center">
      <p>
        <strong>Singapore Office:</strong><br/>
        Email: <a href="mailto:careers@dytechlab.com">careers@dytechlab.com</a><br>
      <p>
      <p>Address:<br>Dynamic Technology Lab<br>
      #07-00, Haw Par Glass Tower, 178 Clemenceau Avenue<br>
      Singapore 239926</p>
    </div>
    <br>
  </div>
</div>
{% endblock body-content %}
{% block js-extras %}
<script>
  var map;
  function initMap() {
    var location = {lat: 1.296788, lng: 103.844164};
    map = new google.maps.Map(document.getElementById('our-map'), {
      center: location,
      zoom: 17
    });
    var marker = new google.maps.Marker({
      position: location,
      map: map,
      title: 'DTL',
    });
    var infowindow = new google.maps.InfoWindow({
      content: 'Singapore Office'
    });
    infowindow.open(map, marker);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC37qx9DI1padGtuMKyR9bAT5QJrLEV2t4&callback=initMap" async defer></script>
{% endblock js-extras%}
