{% extends 'main/base.html' %}
{% load static %}

{% block body-content %}
<section data-on="false" data-lg-on="true" class="rd-parallax bg-river-bed">
  <div data-speed="0.65" data-type="media" data-url="{% static 'main/img/pool/112.jpg' %}" class="rd-parallax-layer"></div>
  <div data-speed="0" data-type="html" class="rd-parallax-layer">
    <div class="shell text-center">
      <div class="range">
        <div class="cell-xs-12">
          <div class="section-45 section-sm-top-60 section-sm-bottom-68">
            <h2>Culture</h2>
            <hr class="hr-block hr-white"/>
            <p class="overview-text">
              Dynamic Technology Lab Pte. Ltd. (DTL) strives to maintain an open and flexible working environment where employees are encouraged to constantly seek innovation and improvement in their works. Innovative engineering and research is the core theme of our office culture and we are not afraid of failures for our R&D works.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-bottom border-bottom-gray-lighter">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12">
        <ul class="breadcrumbs-custom">
          <li><a href="{% url 'main.index' %}">Home</a></li>
          <li><a href="{% url 'main.culture.overview' %}">Culture</a></li>
          <li class="active">Overview</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section-top-55 section-bottom-60">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12 cell-md-8 cell-lg-9">
        <div class="range">
          <div class="cell-xs-12">
            <div class="inset-md-right-15 shift-up-sm-10">
              {% for culture in cultures %}
                <h4 class="margin-vert-20">{{culture.desc}}</h4>
                <p class="text-style-1 offset-top-22">{{culture.content}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="cell-xs-12 cell-md-4 cell-lg-3 offset-top-60 offset-md-top-0">
        <div class="inset-md-left-15 inset-md-right-15">
          <div class="range">
            <div class="cell-xs-12 cell-sm-6 cell-md-12 child-offset-41">
              <nav class="page-nav">
                <ul class="page-nav-list">
                  <li class="active"><a href="{% url 'main.culture.overview' %}">Overview</a></li>
                  <li><a href="{% url 'main.culture.atwork' %}">At work</a></li>
                  <li><a href="{% url 'main.culture.offwork' %}">Off work</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body-content %}
