{% extends 'main/base.html' %}
{% load static %}

{% block body-content %}
<div class="container" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
  <div class="row">
    <div>
      <span class="pull-right">
        <!-- Nav tabs -->
        <ul class="nav nav-pills culture" role="tablist">
          <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
          <li role="presentation"><a href="#in-the-work" aria-controls="in-the-work" role="tab" data-toggle="tab">At Work</a></li>
          <li role="presentation"><a href="#off-the-work" aria-controls="off-the-work" role="tab" data-toggle="tab">Off Work</a></li>
        </ul>
      </span>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="overview">
          <div class="row">
            <div class="col-sm-6 left-top">
              <h3>Value our greatest asset</h3>
              <p>We treat employees as the most valuable assets we have, and we try our best to provide opportunities for everyone to achieve and realize their potential. Every employee, regardless of position and experience, is well respected and is growing with the whole company.</p>
            </div>
            <div class="col-sm-6 right-top">
              <h3>Never stop thinking</h3>
              <p>To stand out in fiercely competitive markets we always keep a sharp mind, generate fresh ideas, and are ready to solve complex problems. All innovative ideas are fully recognized and highly rewarded.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 left-bottom">
              <h3>Focus on cutting-edge tech</h3>
              <p>AT DTL all the works are technology-oriented. We consider ourselves more as engineers or scientists than financial practitioners. Our success depends on the continuous focus on applying the latest technology in computer science, math, statistics, and finance.</p>
            </div>
            <div class="col-sm-6 right-bottom">
              <h3>Work hard, play hard</h3>
              <p>Working is important but life is more than just work. We aim to make DTL a family to work and to live in. To reward ourselves from hard work we regularly organize programs to eat, to exercise, and to travel. We treat each other as both hard-working colleagues and interesting friends.</p>
            </div>
          </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="in-the-work">
          <div class="row">
            <div class="col-sm-6">
              <img class="img img-rounded" src="{% static "main/img/inoffice/p1.jpg" %}">
              <p class="content-p">Though significant amount of our work is done individually our work nature demands a lot of cooperation between researchers, data scientists, developers, traders and portfolio managers. We work together to achieve our shared goals.</p>
              <img class="img img-rounded" src="{% static "main/img/inoffice/p3.jpg" %}">
              <p class="content-p">We strive to maintain a casual and flexible working environment with strong intellectual stimulation. Our office dress code is casual, just make yourself comfortable. Fruits and snacks are provided too.</p>
            </div>
            <div class="col-sm-6">
              <p class="content-p">Our hierarchy is flat. Juniors are encouraged to discuss, or even challenge the seniors. The firm has an open culture and any suggestions could be proposed directly to the founder or discussed.
    There is no such thing as a dumb idea. Major decision will be made by taking full consideration of everyone in the company.</p>
              <img class="img img-rounded" src="{% static "main/img/inoffice/p2.jpg" %}">
              <p class="content-p">To foster innovations we have weekly research presentations
                where all researchers get together to share their findings and
                ideas. There are also regular meetings where everyone discusses
                on how to improve our systems and data operations.</p>
              <img class="img img-rounded" src="{% static "main/img/inoffice/p4.jpg" %}">
            </div>
          </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="off-the-work">
          <div class="row">
            <div class="col-sm-6">
              <img class="img img-rounded" src="{% static "main/img/offoffice/p1.jpg" %}">
              <p class="content-p">You could enjoy the free sporting facilities nearby, e.g. tennis/table tennis/basketball courts, swimming pool and gym etc. Whatever you like you could always find someone to play within the company.</p>
              <br /><br />
              <img class="img img-rounded" src="{% static "main/img/offoffice/p3.jpg" %}">
              <p class="content-p">Every Friday we go jogging to keep us healthy and energetic. You may also exploit your intelligence in the Texas Hold'em games in weekends.</p>
            </div>
            <div class="col-sm-6">
              <br /><br /><br /><br />
              <p class="content-p">On major holidays we arrange dinner/lunch parties. You could enjoy various delicious food and have fun with colleagues. You may even have the opportunities to eat abroad with the company.</p>
              <br /><br />
              <img class="img img-rounded" src="{% static "main/img/offoffice/p2.jpg" %}">
              <p class="content-p">We have many ways to entertain ourselves, e.g. diving, KTV, playing pool, playing chess and hiking etc. We encourage employees to pursue their hobbies off work.</p>
              <br /><br /><br />
              <img class="img img-rounded" src="{% static "main/img/offoffice/p4.jpg" %}">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock body-content %}
