{% extends 'main/base.html' %}
{% load static %}

{% block body-content %}
  <div class="row margin-top-10">
    <!-- Carousel Slideshow -->
    <div id="carousel-dtl" class="carousel slide" data-ride="carousel" data-interval="2000">
      <!-- Carousel Images -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://placehold.it/1050x580">
        </div>
        <div class="item">
          <img src="{% static 'main/img/slideshow/slide1.jpg' %}" width="120%">
        </div>
        <div class="item">
          <img src="{% static 'main/img/slideshow/slide3.jpg' %}" width="120%">
        </div>
      </div>
      <!-- End Carousel Images -->
      <!-- Carousel Controls -->
      <a class="left carousel-control" href="#carousel-dtl" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-dtl" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
      <!-- End Carousel Controls -->
    </div>
    <!-- End Carousel Slideshow -->
  </div>

  <div class="row margin-vert-30">
    <hr class="margin-vert-20">
    <div class="row" >
      <div class="col-md-6">
        <h3 class="margin-vert-20">Dynamic Technology Lab Pte. Ltd. (DTL)</h3>
        <p>A quantitative trading firm engaged in equity trading. We have significant presence in the global market by trading over 400m USD daily in the world's major exchanges.</p>
        <a class="btn btn-default" href="{% url 'main.what'  %}">Find More <i class="fa-chevron-right"></i></a>
      </div>
      <div class="col-md-6">
        <h3 class="margin-vert-20">Interested in joining our company?</h3>
        <p>We aims to attract the best and brightest around the world, and to train them to be the "best" in the industry. We are always looking for great people to join our team.</p>
        <a class="btn btn-default" href="{% url 'main.career.overview' %}">Explore Careers <i class="fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock body-content %}
