{% extends 'main/base.html' %}
{% load static %}

{% block breadscrumb %}
{% endblock breadscrumb %}

{% block body-content %}
<section>
<div data-min-height="400px" class="swiper-container swiper-slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide bg-gray-lighter"><img src="{% static 'main/img/slideshow/slide1.jpg' %}" alt="" width="1"/>
      <div class="swiper-slide-caption">
      </div>
    </div>
  </div>
  <!-- Swiper Navigation-->
  <div class="swiper-nav">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<section class="section-top-60 section-bottom-55">
  <div class="shell">
    <div class="range range-sm-center">
      <div class="cell-xs-12 cell-sm-5 cell-lg-6">
        <div class="product">
          <h4><a href="#">Dynamic Technology Lab Pte. Ltd. (DTL)</a></h4>
          <p>A quantitative trading firm engaged in equity trading.<br>
             We have significant presence in the global market by trading<br>
             over 600m USD daily in the world's major exchanges.</p>
          <a href="{% url 'main.what' %}" class="link link-inline link-medium link-icon link-icon-right"><span class="icon icon-xs icon-curious-blue fa-angle-right"></span>Learn More</a>
        </div>
      </div>
      <div class="cell-xs-12 cell-sm-5 cell-lg-6 offset-top-56 offset-sm-top-0">
        <div class="product">
          <h4><a href="#">Interested in joining our company?</a></h4>
          <p>We aim to attract the best and brightest around the world,<br>
             and to train them to be the "best" in the industry. We are <br>
             always looking for great people to join our team.</p>
          <a href="{% url 'main.career.overview' %}" class="link link-inline link-medium link-icon link-icon-right"><span class="icon icon-xs icon-curious-blue fa-angle-right"></span>Explore Careers</a>
        </div>
      </div>
    </div>
  </div>
</section>
</section>
{% endblock body-content %}
