{% load static %}
{% load bootstrap3 %}

<div class="container">
<h1>Online Test Request</h1>
<h6>The time slots available in Singapore timezone are as follows.</h6>
<h6>researcher: 7p-10p Mon-Fri</h6>
<h6>developer: 7p-9p Mon-Fri</h6>
<br>
<h6>The test will be emailed to you at the selected date/time.</h6>
<h6>If you can't make it at any of the above time please email <a href="mailto:careers@dytechlab.com">careers@dytechlab.com</a> for special arrangement.</h6>
<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    {%buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %}Submit
        </button>
    {% endbuttons %}
</form>
</div>
