{% load main_extras %}

<h4>{{position.title}}</h4>
<h5>Job description: </h5>
{% for desc in position.desc %}
  {% if desc|is_string %}
  <p>{{desc}}</p>
  {% else %}
    <ul class="list-marked list-marked-spacing-lg">
    {% for subdesc in desc %}
      <li class="fa-check">{{subdesc}}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

{% if position.duration %}

<h5>Duration: </h5>
{% for desc in position.duration %}
  {% if desc|is_string %}
  <p>{{desc}}</p>
  {% else %}
    <ul class="list-marked list-marked-spacing-lg">
    {% for subdesc in desc %}
      <li class="fa-check">{{subdesc}}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

{% endif %}

{% if position.location %}

<h5>Location: </h5>
{% for desc in position.location %}
  {% if desc|is_string %}
  <p>{{desc}}</p>
  {% else %}
    <ul class="list-marked list-marked-spacing-lg">
    {% for subdesc in desc %}
      <li class="fa-check">{{subdesc}}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}

{% endif %}

<h5>Qualification: </h5>
{% for qft in position.qualification %}
  {% if qft|is_string %}
  <p><em>{{qft}}</em></p>
  {% else %}
    <ul class="list-marked list-marked-spacing-lg">
    {% for subqft in qft %}
      <li class="fa-check">{{subqft}}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
