{% load main_extras %}

<h2 class="margin-bottom-30">{{position.title}}</h2>
<h3 class="margin-vert-20">Job description: </h3>
{% for desc in position.desc %}
  {% if desc|is_string %}
  <p>{{desc}}</p>
  {% else %}
    <ul>
    {% for subdesc in desc %}
      <li>{{subdesc}}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
<h3 class="margin-vert-20">Qualification: </h3>
{% for qft in position.qualification %}
  {% if qft|is_string %}
  <p><em>{{qft}}</em></p>
  {% else %}
    <ul>
    {% for subqft in qft %}
      <li>{{subqft}}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
