{% extends 'main/base.html' %}
{% load static %}

{% block body-content %}
  <div class="row margin-vert-30">
    <div class="col-md-12">
      <div class="row text-center">
        <h2 class="margin-top-10">What We Do</h2>
        <p style="margin: 0px 50px 0px 50px">Dynamic Technology Lab Pte. Ltd. (DTL) designs technological innovations to intelligently analyze information to uncover irrationality in the seemingly rational financial markets. By adopting a diverse range of ideas, we pursue the goal of continuously generating high risk-adjusted investment returns for our clients.</p>
      </div>
      <hr class="margin-vert-40">
      <h2 class="headline">Our Investment Approach</h2>
      <div class="row margin-top-40">
        <div class="col-md-6">
          <h3>Trading around the clock</h3> 
          <p>We are active participants, trading a wide range of products on more than 200 electronic exchanges and other trading venues in about 40 countries around the world.</p>
        </div>
        <div class="col-md-6">
          <h3>Technology drives our business</h3>
          <p>Technology is at the core of how we approach trading, we focus on quantitative analysis which enable us to stay competitive in the financial markets.</p>
        </div>
      </div>
    </div> <!-- end col-md-12 -->
  </div> <!-- end row -->
{% endblock body-content %}
