{% extends 'main/base.html' %}
{% load static %}

{% block body-content %}
<section data-on="false" data-lg-on="true" class="rd-parallax bg-river-bed">
  <div data-speed="0.65" data-type="media" data-url="{% static 'main/img/what/overview.jpg' %}" class="rd-parallax-layer"></div>
  <div data-speed="0" data-type="html" class="rd-parallax-layer">
    <div class="shell text-center">
      <div class="range">
        <div class="cell-xs-12">
          <div class="section-45 section-sm-top-60 section-sm-bottom-68">
            <h2>About Us</h2>
            <hr class="hr-block hr-white"/>
            <p class="overview-text">
            Dynamic Technology Lab Pte. Ltd. (DTL) focuses on technological innovation to intelligently analyze information and uncover irrationality in the financial markets. By adopting a wide range of ideas, we seek to continuously generate superior risk-adjusted investment returns for our clients.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="border-bottom border-bottom-gray-lighter">
  <div class="shell">
    <div class="range">
      <div class="cell-xs-12">
        <ul class="breadcrumbs-custom">
          <li><a href="index.html">Home</a></li>
          <li class="active">About Us</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- About us-->
<section class="section-top-55 section-bottom-85">
  <div class="shell">
    <h3>Our Investment Approach</h3>
    <div class="range">
      <div class="cell-xs-12 offset-top-25">
        <div class="range">
          <div class="cell-xs-12 cell-sm-8 cell-md-5">
            <figure><img src="{% static 'main/img/pool/11_meitu_2.jpg' %}" style="max-height: 250px;"/>
            </figure>
          </div>
          <div class="cell-xs-12 cell-md-6 offset-top-30 offset-md-top-0">
            <div class="inset-md-left-30 inset-lg-left-70">
              <div class="service-body">
                <h4 class="text-bold"><a href="#">Trading around the Clock</a></h4>
                <hr class="hr-block hr-left hr-curious-blue"/>
                <p>We are actively trading a wide range of products on more than 50 electronic exchanges and other trading venues in about 30 countries around the world.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell-xs-12 offset-top-25">
        <div class="range">
          <div class="cell-xs-12 cell-sm-8 cell-md-5">
            <figure><img src="{% static 'main/img/pool/3_meitu_1.jpg' %}" style="max-height: 250px;"/>
            </figure>
          </div>
          <div class="cell-xs-12 cell-md-6 offset-top-10 offset-md-top-0">
            <div class="inset-md-left-30 inset-lg-left-70">
              <div class="service-body">
                <h4 class="text-bold"><a href="#">Technology Driven</a></h4>
                <hr class="hr-block hr-left hr-curious-blue"/>
                <p>Technology is at the core of our trading approach. We are always focusing on quantitative analysis to stay competitive in the financial markets.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body-content %}
