body {
    color: #000000;!important
}

.responsive-tabs-default .resp-accordion:hover, .responsive-tabs-default .resp-accordion.resp-tab-active, .responsive-tabs-default .resp-tabs-list > li:hover, .responsive-tabs-default .resp-tabs-list > li.resp-tab-active > a, a:active, a:focus {
  font-weight: 400;
  color: #fff;
  background: #24a3d8;
  border-color: #24a3d8;
}

.anchor-link {
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

p.overview-text {
  font-size: 18px;
  margin: 3% 5% 0% 5%;
}
